.w-720 {
  max-width: 720px;
  margin: 0 auto;
}

.fl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fl-column {
  flex-direction: column;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: 100%;
}
