<app-table-header
[title]="'Attendees'"
></app-table-header>
<nz-table *ngIf="tableData"
          [nzData]="tableData.data"
          [nzPageSize]="tableData.summary.per_page"
          [nzPageIndex]="tableData.summary.page"
          [nzFrontPagination]="false"
          [nzPageSizeOptions]="[5, 10, 20, 50]"
          [nzShowSizeChanger]="true"
          [nzLoading]="loading"
          (nzQueryParams)="onParamsChange($event)"
          [nzScroll]="{ y: mediator.tableHeight + 'px' }"
          [nzTotal]="tableData.summary.total_items">
  <thead>
  <tr>
    <th *ngFor="let column of tableData.header; let i = index"
        [nzWidth]="column.width" nzEllipsis>
      <div class="ellipsis">{{column.name}}</div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of tableData.data">
    <ng-container *ngFor="let column of tableData.header">
      <td class="ellipsis">{{data[column.key]}}</td>
    </ng-container>
  </tr>
  </tbody>
</nz-table>



