<header>
    <div class="header__left" nz-row nzJustify="start">
      <div class="header__left-logo" [routerLink]="this.mediator.userInfo && this.mediator.userInfo['role_code'] === 'ADMIN' ? 'talks' : 'qr-code'">
        SFSCON DASHBOARD
      </div>
      <div class="header__left-routes"  nz-row nzJustify="start" *ngFor="let route of appService.routes">
        <button class="header__left-button" nz-button nzType="text" [routerLink]="route.route">
        <span routerLinkActive="nav__link__active"
              [routerLinkActiveOptions]="{ exact: false }"
        >{{route.name}}</span>
        </button>
      </div>
    </div>
    <div class="fl-center">
      <ng-container *ngIf="mediator.userInfo && mediator.userInfo['role_code'] === 'ADMIN'">
        <input nz-input
               #searchInput
               placeholder="Search">
        <button nz-button nzType="default"
                class="sync-btn"
                [disabled]="disabledBtn"
                (click)="onSyncData()">Sync data
        </button>
      </ng-container>
      <button nz-button nzType="primary" (click)="onLogout()">Logout</button>
    </div>
</header>
<div nz-row nzJustify="space-between" class="dashbarod__wrapper">
  <div class="dashbarod__wrapper-card" *ngFor="let dashboard of dashboardData">
    <div class="dashbarod__wrapper-text">{{dashboard.name}}</div>
    <div class="dashbarod__wrapper-number">{{dashboard.value}}</div>
  </div>
</div>

