<nz-table *ngIf="tableData"
          [nzData]="tableData.items"
          [nzPageSize]="tableData.summary.per_page"
          [nzPageIndex]="tableData.summary.page"
          [nzFrontPagination]="false"
          [nzPageSizeOptions]="[5, 10, 20, 50]"
          [nzShowSizeChanger]="true"
          [nzLoading]="loading"
          (nzQueryParams)="onParamsChange($event)"
          [nzScroll]="{ y: mediator.tableHeight + 'px' }"
          [nzTotal]="tableData.summary.total_items">
  <thead>
  <tr>
    <th *ngFor="let column of tableData.columns; let i = index"
        [nzWidth]="i < tableData.columns.length - 1 ? column.width : null" nzEllipsis>
      <div class="ellipsis">{{column.title}}</div>
    </th>
    <th [nzWidth]="'120px'"
        nz-tooltip="Actions"
        class="fl-center"
        nzEllipsis>
      <span>Actions</span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of tableData.items" (click)="goToFlow(data.id)" class="table-row-data">
    <ng-container *ngFor="let column of tableData.columns">
      <td class="ellipsis"
          *ngIf="column.type !== 'image'">{{data[column.name]}}</td>
      <td *ngIf="column.type === 'image'">
        <nz-avatar [nzText]="data['initials']" *ngIf="!data[column.name]"></nz-avatar>
        <nz-avatar nzIcon="user"
                   [nzSrc]="data[column.name]"
                   *ngIf="data[column.name]">
        </nz-avatar>
      </td>
    </ng-container>
    <td class="fl-center">
      <a nz-dropdown nzTrigger="click"
         (click)="$event.stopPropagation()"
         [nzDropdownMenu]="actionsMenu" (nzVisibleChange)="actionsDropdownOpened = !actionsDropdownOpened">
        <i nz-icon [nzType]="'more'" nzTheme="outline"></i>
      </a>
    </td>
    <nz-dropdown-menu #actionsMenu>
      <ul nz-menu>
        <li nz-menu-item (click)="showModal(data.id, data.display_name)">
          <i nz-icon nzType="qrcode" nzTheme="outline" class="qr-code"></i>
          <span>QR code</span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible"
          [nzCancelText]="null"
          [nzTitle]="'QR code for ' + currentUser" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <qrcode class="fl-center" *ngIf="currentId" [qrdata]="currentId" [width]="256"
            [errorCorrectionLevel]="'M'"></qrcode>
  </ng-container>
</nz-modal>
