.table-header {
  margin: 12px 24px 8px 24px;
  .table-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .btn-style {
    color: #0099e3;
    background-color: #fff;
    border: 1px solid #0099E3;
    font-size: .875rem;
    line-height: 1.375rem;
    height: 2rem;
    padding: 5px 1rem;
    .downlaod-icon {
      margin-left: 8px;
    }
  }
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

