<app-table-header
  [title]="'Talks'"
></app-table-header>
<nz-table *ngIf=" tableData && tableData['data']?.length"
          class="talks-table"
          [nzData]="tableData.items"
          [nzLoading]="loading"
          [nzScroll]="{ y: mediator.tableHeight + 'px' }">
  <thead>
  <tr>
    <th *ngFor="let column of columns; let i = index"
        [nzWidth]="column.width" nzEllipsis  [nzColumnKey]="column.key"  [nzShowSort]="column.sort" [nzSortFn]="true" [nzSortOrder]="null" (nzSortOrderChange)="changeOrder($event, column.key)" nzEllipsis>
      <div class="ellipsis">{{column.name}}</div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of filteredtableData">
    <ng-container *ngFor="let column of tableData.header">
      <td class="ellipsis" nz-tooltip nzTooltipTitle="{{column.key === 'event' ? data[column.key] : null}}">{{data[column.key]}}</td>
    </ng-container>
  </tr>
  </tbody>
</nz-table>


