<div class="table-header">
    <div class="table-title">Talks</div>
    <div class="export-button">
        <button nz-button type="button" (click)="exportTalksCsv()">
            <span nz-icon nzType="download"></span>
            Export CSV
        </button>
    </div>
</div>

<nz-table 
    [nzData]="filteredData"
    nzTableLayout="fixed"
    [nzShowPagination]="false"
    [nzLoading]="loading"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            @for (column of listOfColumn; track column) {
                <ng-container *ngIf="isSortableColumnItem(column); else nonSortableHeader">
                    <th 
                        [nzSortFn]="true"
                        [nzSortOrder]="currentOrderField === column.sortField ? (currentOrderDirection || null) : null"
                        [nzSortDirections]="column.sortDirections"
                        (nzSortOrderChange)="onSortOrderChange(column.sortField, $event)"
                        [style.width]="column.width">
                        {{ column.title }}
                    </th>
                </ng-container>
                <ng-template #nonSortableHeader>
                    <th>
                        {{ column.title }}
                    </th>
                </ng-template>
            }
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of filteredData">
            <td>{{ data.title }}</td>
            <td>{{ data.speakers }}</td>
            <td>{{ data.bookmarks }}</td>
            <td>{{ data.rates }}</td>
            <td>{{ data.avg_rate }}</td>
        </tr>
    </tbody>
</nz-table>
